body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #121212;
    margin: 0;
    padding: 20px;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    background: #282828;
    padding: 20px;
    border-radius: 4px;
}

.form-item {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"] {
    font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
 
}

button {
    background-color: #282828;
    color: #FFFFFF;
    padding: 12px 20px;
    border: 1px solid #575757;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    
}

.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.error {
    background-color: #FFDDDD;
    color: #D8000C;
}

.success {
    background-color: #DDFFDD;
    color: #4F8A10;
}

/* dashboard */

.link-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font: inherit;
    
}

.file-entry {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.file-container {
    display: flex;
    gap: 0.5rem;
    
}

/* header */

.title-button {
    color: #FFFFFF;
    font-size: 32px;
    text-decoration: none;
}

.right-nav-button {
    color: #FFFFFF;
    font-size: 32px;
    text-decoration: none;

}

.right-nav-div {
    float: right;
    display: flex;
    align-items: center;
    gap: 20px;
}

.head {
    margin-bottom: 50px;
}

.rainbow-text {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        purple,
        magenta,
        red
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s linear infinite;
    display: inline-block;
    white-space: nowrap;
}

@keyframes rainbow {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.admin-tool-button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    float: left;
}